# Flask
flask
Flask-Bootstrap
flask-marshmallow
flask-migrate
flask-sqlalchemy
Flask-WTF
marshmallow-sqlalchemy

python-dotenv
requests
Pillow
gunicorn
psycopg2

# dev tools
pip-tools
black
flake8
pdbpp
